* {
  margin: 0;
  font: inherit;
  cursor: default;
  box-sizing: border-box;
  padding: 0;
}

a[href],
button,
label[for],
input[type=submit],
input[type=checkbox],
input[type=radio],
a[href] * {
  cursor: pointer;
}

[disabled] {
  pointer-events: none;
  cursor: default;
}

[disabled] {
  color: #ccc !important;
}

h1, h2, h3
h4, h5, h6 {
  margin: 0 0 10px;
}

fieldset {
  border :0;
}

input, textarea {
  width: 100%;
  cursor: text;
}

nav > * {
  display: inline-block;
}
