.create textarea {
  overflow: hidden;
  resize: none;
}

.create .input.large {
  font-weight: 500;
  font-size: 18px;
}

.create .options {
  margin: 15px 0 20px;
}

.create .option {
  position: relative;
  margin: 0 0 7px;
}

.create .option:last-child {
  margin: 0;
}

.create .option:after {
  content: "*";
  display: block;
  position: absolute;
  top: 1px; left: -20px;
  color: var(--color-faint);
  font-size: 18px;
}

@media (max-width: 500px) {
  .create .option:after {
    display: none;
  }
}
